<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <script>
    let timeLeft = 30; // Таймер всего теста в секундах
    function countdown() {
      if (timeLeft <= 0) {
        window.location.href = "/result";
      } else {
        document.getElementById("timer").innerHTML = "Осталось: " + timeLeft + " сек.";
        timeLeft--;
        setTimeout(countdown, 1000);
      }
    }
    window.onload = countdown;
  </script>
</head>
<body>
  <h1>{{ title }}</h1>
  <h2>{{ q.q }}</h2>
  <form method="post">
    {% for opt in q.opts %}
      <button type="submit" name="answer" value="{{ loop.index0 }}">{{ opt }}</button><br>
    {% endfor %}
  </form>
  <p id="timer"></p>
</body>
</html>
